p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

body {
    margin: 0;
  padding-left: 96px ;
  padding-top: 66px;
  padding-right: 24px;
  background-color: rgb(240, 239, 239);
}